page-member {
  
  .validbtn{
  	display: block !important;
  	margin: auto ! important;
   }

  .item-md {
    width: 50%;
    height: 80px;
    margin-top: 15px;
    padding-left: 4%;

   }

   form {
    margin: 0;
    font: inherit;
    color: inherit;
    margin-top: 40px;
    margin-bottom: 40px ! important;
   }

  .button-md {
    height: 55px !important;
    width: 28%;
    margin-top: 38px !important;
   }

.item-input ion-input, .item-input ion-textarea {
    margin-left: 15%;
}

   @media screen and (max-width: 500px)
  {
  .item-md {
    width: 98%;
    height: 80px;
    margin-top: 15px;
  }
 }
}
